.newUserText{
  text-align: center;
}

.spinner{
  text-align: center;
  align-content: center;
  width: auto;
  height: auto;
}
.spinner md-spinner{
  padding-top: 5%;
  padding-left: 20%;
  padding-right: 20%;

}
