<div *ngIf="user" class="capSize">
  <md-card class="blueBackground">
    <md-card-title></md-card-title>
    <md-card-header>
      <md-card-title>{{user.name}}</md-card-title>
       <md-card-subtitle>Member since: today!</md-card-subtitle>
      <img md-card-avatar src="http://image.flaticon.com/teams/new/1-freepik.jpg">
    </md-card-header>

    <md-card-subtitle>Profile description</md-card-subtitle>

    <md-card-content>I am here looking for people to chat with.
      My interest are:
      - Travelling
      - Programming
      - Cartoons (and superheroes!)
      - Learning new things!
      <img md-card-avatar src="http://image.flaticon.com/teams/new/1-freepik.jpg">
    </md-card-content>
    <md-card-footer>Remember to chat politely</md-card-footer>
  </md-card>
</div>
