<chatbuddy-toolbar [titleofcurrentpage]="Chatroom"></chatbuddy-toolbar>
<div class="row">
  <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
  <div  class="alignLeft">

  <button
    (click)="toggleUserList()" md-raised-button color="primary">Toggle userlist</button>
  <div id="usersListWrapper" *ngIf="isDisplayingUserList" class="userListMaxHeight">
    <md-list id="usersList" class="inline onlineUsersList">
      <md-list-item>User1</md-list-item>
      <md-list-item>User2</md-list-item>
      <md-list-item>User3</md-list-item>
      <md-list-item>User4</md-list-item>
      <md-list-item>User5</md-list-item>
      <md-list-item>User6</md-list-item>
      <md-list-item>User7</md-list-item>
      <md-list-item>User8</md-list-item>
      <md-list-item>User9</md-list-item>
    </md-list>
  </div>
  </div>
  </div>
  <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
  <div id="chatInputField">
    <textarea [ngModel]="chatOutput" name="ChatInput" ng-model="biography" mdInput placeholder="Type a message here" form="chatForm"></textarea>
    <form  (ng-submit)="enterText()" id="chatForm" name="chatForm">
      <div class="inline" *ngIf="isTyping">

        <div class="inline" *ngIf="this.dotCounter >= 2">
          <fa  [name]="'circle'"></fa>
        </div>
        <div class="inline" *ngIf="this.dotCounter >= 4">
          <fa  [name]="'circle'"></fa>
        </div>
        <div class="inline" *ngIf="this.dotCounter >= 6">
          <fa  [name]="'circle'"></fa>
        </div>
      </div>
      <md-input-container>
        <textarea [(ngModel)]="chatInput" name="ChatInput_TextArea" ng-model="biography" mdInput placeholder="Type a message here"></textarea>
      </md-input-container>
      <button type="submit" md-raised-button (click)="enterText()" color="primary">Send</button>
    </form>
  </div>
  </div>
</div>
