.overflowAuto{
  overflow: auto;
}

.inline {
  display:inline-block;
}

.onlineUsersList{
  text-align: left;
  background-color: saddlebrown;
}

.wrap{
  height: 100%;
  overflow: auto;
  background-color: #FD4140;
  max-width: 19vh;
  max-height: 90vh;
}

.wrapChatOutput{
  height: 100%;
  overflow: auto;
  background-color: #FD4140;

  max-height: 90vh;
}

.divider{
  width:5px;
  display:inline-block;
  border: 1px solid grey;
}

.aligncCenter{
  text-align:center;
}

.alignLeft{
  text-align:left;
}

.alignBottom{
  align-content: stretch;
}

.jumbotron {
  background: #358CCE;
  color: #FFF;
  border-radius: 0px;
}
.jumbotron-sm { padding-top: 24px;
  padding-bottom: 24px; }
.jumbotron small {
  color: #FFF;
}
.h1 small {
  font-size: 24px;
}

.chatInputArea{
  position: relative;
  min-height: 150px;
  height: 100%;
  overflow: auto;
  background-color: #FD4140;
}

.chatInputContent{
  position: relative;
  bottom: 0;
  left: 0;
  overflow: auto;
  resize: none;
}

.userListMaxHeight{
  height: 5em;
  border: 1px solid red;
}



.fill-remaining-space {
  flex: 1 1 auto;
}

.floatLeft{
  float: left;
}

.rectangle {
  position: relative;
  top: 200px;
  display: flex;
  align-items: left;
  justify-content: left;
  width: 300px;
  height: 150px;
  background-color: #FD4140;
  border: solid 1px #121621;
  color: #121621;
  margin: auto;
}
.resize-handle {
  position: absolute;
  bottom: 10px;
  right: 10px;
}

.new-line{
  display: block;
  min-height: 2em;
}




/*#chat-output{*/
  /*overflow: scroll;*/
  /*!*height: xyz; setting a height is maybe needed together with the overflow: scroll*!*/
/*}*/
