.jumbotron {
  background: #358CCE;
  color: #FFF;
  border-radius: 0px;
}
.jumbotron-sm { padding-top: 24px;
  padding-bottom: 24px; }
.jumbotron small {
  color: #FFF;
}
.h1 small {
  font-size: 24px;
}

.form-inline .form-group { margin-right:10px; }
.well-primary {
  color: rgb(255, 255, 255);
  background-color: rgb(66, 139, 202);
  border-color: rgb(53, 126, 189);
}
.glyphicon { margin-right:5px; }

.teamMemberImg{
  max-height: 7em;
  max-width: 7em;

}
