<chatbuddy-toolbar [titleofcurrentpage]="'About'"></chatbuddy-toolbar>
<chatbuddy-top-of-section [title]="'About ChatBuddy'" [briefText]="'Your favorite chat service'"></chatbuddy-top-of-section>
<div class="container">

  <div class="row">

    <div class="col-md-10">

      <div class="panel-group" id="accordion">

        <div class="panel panel-default">

          <div (mousedown)="toggleWhyChatBuddy()"  class="panel-heading">
            <h4 class="panel-title"> <a data-toggle="collapse" data-parent="#accordion"><span class="glyphicon glyphicon-question-sign"> </span>Why chat buddy?</a>
              <i *ngIf="whyChatBuddyExpanded === true;" class="fa fa-arrow-down" aria-hidden="true"></i>
              <i *ngIf="whyChatBuddyExpanded === false;" class="fa fa-arrow-up" aria-hidden="true"></i>
            </h4>
          </div>
          <div *ngIf="whyChatBuddyExpanded === true;" id="collapseOne" class="pstanel-collapse collapse in">
            <div class="panel-body">
              <div class="well well-sm well-primary">
                <b>We're fast and lean!</b>
                <br>
                ChatBuddy doesn't have a lot of clutter on it's page, meaning that it is optimized
                to be very performance friendly and run well on even mobile devices.
              </div>



              <div class="well well-sm well-primary">
                <b>We're free!</b>
                <br>
                ChatBuddy is a free service, and always will be free, we will never charge for the use of our service.
              </div>
            </div>
          </div>

          <div (mousedown)="toggleWhoAreWe()" class="panel-heading">
            <h4 class="panel-title"> <a data-toggle="collapse" data-parent="#accordion"><span class="glyphicon glyphicon-certificate"> </span>Who are we?</a>
              <i *ngIf="whoAreWeExpanded === true;" class="fa fa-arrow-down" aria-hidden="true"></i>
              <i *ngIf="whoAreWeExpanded === false;" class="fa fa-arrow-up" aria-hidden="true"></i>
            </h4>
          </div>
          <div *ngIf="whoAreWeExpanded === true;" id="collapseTwo" class="pstanel-collapse collapse in">
            <div class="panel-body">

              <div class="well well-sm well-primary">
                <b>Our team</b>
                <br>
                Our team consists of 2 people, we are both computer science students at EASV in Esbjerg, Denmark.
              </div>

              <div class="well well-sm well-primary">
                <img class="teamMemberImg" src="https://scontent.fzgh1-1.fna.fbcdn.net/v/t1.0-9/17362464_1288919017859926_7614886011342117493_n.jpg?oh=d981cdd15df6b0767257167d3e2548dd&oe=59BEE646">
                <br>
                <b>Martin</b>
                <br>
                Martin is a friendly guy who is very passionate about programming, and always does his best in accomplishing the task at hand.
              </div>
              <div class="well well-sm well-primary">
                <img class="teamMemberImg" src="https://scontent.fzgh1-1.fna.fbcdn.net/v/t1.0-9/13718784_10209527266195112_8688651414822860447_n.jpg?oh=ea66f21f886beae980f9878c424bbf58&oe=59A05D6A">
                <br>
                <b>Alex</b>
                <br>
                Alex shares Martins passion for programming, and dreams of making a living from software, perhaps in his own company.



            </div></div>
          </div>

        </div>
      </div>
      </div>
    </div>
  </div>
