<chatbuddy-toolbar [titleofcurrentpage]="'Lobby'"></chatbuddy-toolbar>
<p>
  lobby works!
</p>
<div ng-controller="safeCtrl">

  <button type="button" ng-click="addRandomItem(row)" class="btn btn-sm btn-success">
    <i class="glyphicon glyphicon-plus">
    </i> Add random item
  </button>

  <div class="maxWidth">
  <md-input-container class="maxWidth overflowAuto">
    <th colspan="5"><input [(ngModel)]="searchInput"  mdInput class="form-control maxWidth overflowAuto" placeholder="Search for chatroom" type="text"/></th>
  </md-input-container>
  </div>
  <div class="overflowAuto">
  <table st-table="displayedCollection" st-safe-src="rowCollection" class="table table-striped">
    <thead>
    <tr>
      <th st-sort="Title">Title</th>
      <th st-sort="ID">ID</th>
      <th st-sort="Anonymous">Anonymous</th>
      <th st-sort="Private">Private</th>
      <th st-sort="Users">Users</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let chatroom of (displayedChatRooms)" [routerLink]="['/chatroom', chatroom.ID]">
      <td>{{chatroom.title}}</td>
      <td>{{chatroom.ID}}</td>
      <td>{{chatroom.isAnonymous}}</td>
      <td>{{chatroom.isPrivate}}</td>
      <td>{{chatroom.usersInRoom.length}}</td>
      <td>
        <button type="button" ng-click="removeItem(row)" class="btn btn-sm btn-danger">
          <i class="glyphicon glyphicon-remove-circle">
          </i>
        </button>
      </td>
    </tr>
    </tbody>
  </table></div>

</div>
