.divider{
  width:5px;
  display:inline-block;
}

.underlineOnMouseOver:hover{
  text-decoration: underline;
  cursor: pointer;
}

.fill-remaining-space {
  flex: 1 1 auto;
}

.purpleBackground1{
  background: mediumpurple;
}

.purpleBackground2{
  background: blueviolet;
}

.menuIconDivider{
  width:40%;
  display:inline-block;
}

.center{
  text-align: center;

}
