<md-toolbar #chatBuddyToolBar color="primary">
  <fa [name]="'users'" [size]="2"></fa>
  <div class="divider"></div>
  <span class="underlineOnMouseOver" routerLink="/">ChatBuddy</span>
  <span class="fill-remaining-space" ></span>
  <span>{{TitleOfCurrentPage}}</span>
  <span class="fill-remaining-space" ></span>
  <button md-icon-button [mdMenuTriggerFor]="menu">
    <fa [name]="'bars'" [size]="2"></fa>
  </button>
  <md-menu #menu="mdMenu" class="menuIcon purpleBackground1">
    <h3 class="menuText purpleBackground2">ChatBuddy</h3>
    <chatbuddy-user-profile-mini [user]="currentUser"></chatbuddy-user-profile-mini>
    <div class="menuIconDivider"></div>
    <fa class="menuIcon" [name]="'users'" [size]="1"></fa>
    <div class="menuIconColorSpace"></div>
    <button class="purpleBackground1" md-menu-item routerLink="/login">
      <fa [name]="'sign-in'"></fa>
      <span>Login</span>
    </button>
    <button class="purpleBackground2" md-menu-item routerLink="/lobby">
      <fa [name]="'comments'"></fa>
      <span>Lobby</span>
    </button>
    <button class="purpleBackground1" md-menu-item routerLink="/contact">
      <fa [name]="'pencil'"></fa>
      <span>Contact</span>
    </button>
    <button class="purpleBackground2" md-menu-item routerLink="/about">
      <fa [name]="'info'"></fa>
      <span>About</span>
    </button>
    <button class="purpleBackground1" (click)="logOut()" *ngIf="currentUser" md-menu-item routerLink="/">
      <fa [name]="'sign-out'"></fa>
      <span>Log out</span>
    </button>
  </md-menu>
</md-toolbar>


