<md-toolbar #chatBuddyToolBar color="primary">
  <fa [name]="'users'" [size]="2"></fa>
  <div class="divider"></div>
  <span class="underlineOnMouseOver" routerLink="/">ChatBuddy</span>
  <button onclick="">
    <span>Color1</span>
  </button>
  <button onClick="">
    <span>Color2</span>
  </button>
  <span class="fill-remaining-space" ></span>
  <span>{{TitleOfCurrentPage}}</span>
  <span class="fill-remaining-space" ></span>

  <button md-icon-button [mdMenuTriggerFor]="menu">
    <fa [name]="'bars'" [size]="2"></fa>
  </button>
  <md-menu #menu="mdMenu">
    <button md-menu-item routerLink="/login">
      <fa [name]="'sign-in'"></fa>
      <span>Login</span>
    </button>
    <button md-menu-item routerLink="/lobby">
      <fa [name]="'comments'"></fa>
      <span>Lobby</span>
    </button>
    <button md-menu-item routerLink="/contact">
      <fa [name]="'pencil'"></fa>
      <span>Contact</span>
    </button>
    <button md-menu-item routerLink="/about">
      <fa [name]="'info'"></fa>
      <span>About</span>
    </button>
  </md-menu>
</md-toolbar>


