/*Animate glyphicon section*/

@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }

.animatedCogWheel{
  -webkit-animation:spin 0.5s linear;
  -moz-animation:spin 0.5s linear;
  animation:spin 0.5s linear;

  color:black;
  cursor: pointer;
  color:#999;
}

.normalCogWheel{
  transition: color 0.5s linear; /* vendorless fallback */
  -o-transition: color 0.5s linear; /* opera */
  -ms-transition: color 0.5s linear; /* IE 10 */
  -moz-transition: color 0.5s linear; /* Firefox */
  -webkit-transition: color 0.5s linear; /*safari and chrome */
}

.chat
{
  list-style: none;
  margin: 0;
  padding: 0;
}

.chat li
{
  margin-bottom: 10px;
  padding-bottom: 5px;
  border-bottom: 1px dotted #B3A9A9;
}

.chat li.left .chat-body
{
  margin-left: 60px;
}

.chat li.right .chat-body
{
  margin-right: 60px;
}


.chat li .chat-body p
{
  margin: 0;
  color: #777777;
}

.panel .slidedown .glyphicon, .chat .glyphicon
{
  margin-right: 5px;
}

.panel-body
{
  overflow-y: scroll;
  height: 250px;
}

::-webkit-scrollbar-track
{
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  background-color: #F5F5F5;
}

::-webkit-scrollbar
{
  width: 12px;
  background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb
{
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
  background-color: #555;
}
